.searchPanel{
    width: 500px;
    height:600px;
    background-color: beige;
    align-content: center;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.itemGallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    overflow-y: auto;
}

.searchBar{
    width: stretch;
    margin:15px;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
}

.itemTile{
    margin:5px;
    height: 150px;
    width: 140px;
}

.itemImage{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width:stretch;
    height: 120px;

}

.itemList{
    display: flex;
    flex-direction: column;
}

.itemRecord{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: auto;
}

.itemImageSmall{
    height:100%;
    width:auto;
}