.myMessageBox{
    background-color: rgb(89, 195, 160);
    justify-self: right;
    border-radius: 25px 25px 0px 25px ;
}

.othersMessageBox{
    background-color: rgb(164, 179, 242);
    justify-self: left;
    border-radius: 25px 25px 25px 0px ;
}

.messageBox{
    min-width: 0px;
    max-width:50%;
    margin:5px;
    padding: 5px 20px;
    text-align: left;
    align-content: center;
    height: auto;
    word-wrap: break-word;
}

.messageMeta{
    display: flex;
    font-size: x-small;
    gap: 10px;
    align-items: end;
    padding: 0px 0px 0px 1px;
    float:right;
    margin-top: 11px;
    margin-left: 10px;
}

.textbar{
    width: stretch;
    border-radius: 25px;
    padding: 5px 20px;
}

.inputBar{
    padding: 10px;
    display: flex;
    gap:10px;
    
}

.chatContainer{
    overflow: auto;
    height: 100%;
}

.chatArea{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: rgb(241, 241, 241);
    
}

.chatPage{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
}

.followButton{
    display: none;
}

.chatMenu{
    padding:20px 5px;
    text-align: left;
}

.chatUser{
    padding:10px;
    border-radius: 15px;
    width: stretch;
    height: 70px;
    display: flex;
    gap:15px;
    align-items: center;
    transition: background-color ease 0.3s
}

.chatUser:hover{
    background-color: rgb(247, 247, 247);
}

.chatList{
    padding: 0px 5px;
}

.profilePic{
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100%;  
}

.searchBar{
    height:35px;
    border-radius: 10px;
    border-color:green;
    border-bottom: solid 2px rgb(89, 195, 160);
    border-top: solid 1px rgb(120, 143, 235);
    border-left: solid 1px rgb(84, 128, 205);
    border-right: solid 2px rgb(57, 201, 179);
}

.searchPanel{
    background-color: transparent;
}

.heading{
    text-align: left;
    font-weight: medium;
    font-size: xx-large;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.currentChatNamePane{
    width: stretch;
    height: 50px;
    padding:10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap:20px;
    align-content: center;
}